#header-nav{
    background-color:#b1adad;  
    border:2px solid #000; 
    display: block;
}
#header-nav ul li{
    background-color: white;
    color: #000;
    border: 1px solid black;
    text-align: center;
}
 #header .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    padding-bottom:0px ;
    
}
#logo{
    padding-left: 10px;
}
/*making un toggler element bold*/ 
#list li a{
    color:rgba(0,0,0,1)
}
.container{
    background-color:#b1adad; 
}

.text-center{
    margin-top: 1%;
    margin-bottom: 4%;
}
.Row{
    margin: 1% 1%;
}
@media(min-width:992px) {
    #header-nav ul li{
        display: none;
    }
  
    
}
@media (min-width: 576px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 96%;
}
}
@media(max-width:575px){
    #box1{
        width: 70%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    
}